canvas{
	display:block;
	margin:0px auto;
	box-shadow:-2px -2px 2px #efefef,5px 5px 5px #b9b9b9;
}

.info{
	list-style: none;
	margin:50px auto 5px;
	width:450px;
	height:50px;
	padding:0;
	border:1px solid #ccc;
}

.info li{
	list-style: none;
	display:table-cell;
	width:1%;
	line-height: 50px;
	text-align:center;
}
